# Hello, Jupyter ğŸ‘‹

Jupyter Notebookã‚’åˆ©ç”¨ã™ã‚‹ã¨Pythonãªã©ã®ã‚¹ã‚¯ãƒªãƒ—ãƒˆã‚’å¯¾è©±çš„ã«å®Ÿè¡Œã—ãŸçµæœã‚’ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ã¨ã—ã¦ã¾ã¨ã‚ã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚

Jupyter Notebook ã‹ã‚‰æ¼”ç¿’ç”¨ã® MySQL ã‚µãƒ¼ãƒãƒ¼ã«ã‚¢ã‚¯ã‚»ã‚¹ã™ã‚‹ãŸã‚ `ipython-sql` ã¨ `pymysql` ã¨ã„ã†ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«ã‚’ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«ã—ã¾ã—ã‚‡ã†ã€‚å®Ÿè¡Œã—ãŸã„ã‚»ãƒ«ã«ãƒ•ã‚©ãƒ¼ã‚«ã‚¹ã‚’å½“ã¦ Shift ã‚­ãƒ¼ã¨ Enter ã‚­ãƒ¼ã‚’æŠ¼ã™ã¨å¯¾å¿œã™ã‚‹ã‚³ãƒ¼ãƒ‰ãŒå®Ÿè¡Œã•ã‚Œã¾ã™ã€‚

In [ ]:
! pip install ipython-sql pymysql # TODO: RUN ME :-)

ä»¥ä¸‹ã®ã‚³ãƒãƒ³ãƒ‰ã§ SQL ã‚’å®Ÿè¡Œã™ã‚‹ãŸã‚ã®æ‹¡å¼µæ©Ÿèƒ½ã‚’ Jupyter ã«ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«ã§ãã¾ã™ã€‚

In [1]:
%load_ext sql
# TODO: RUN ME :-)

#### æ¼”ç¿’ç”¨MySQLã‚µãƒ¼ãƒãƒ¼ã®æ¥ç¶šæƒ…å ±ã«ã¤ã„ã¦

- ãƒ›ã‚¹ãƒˆå: `10.0.1.100`
- ãƒ¦ãƒ¼ã‚¶ãƒ¼å: `hello`
- ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰: `world`
- ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹å: `employees`

ä»¥ä¸‹ã®ã‚ˆã†ã«è¨˜è¿°ã™ã‚‹ã¨ SQL ã‚¯ã‚¨ãƒªã‚’å®Ÿè¡Œã™ã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚

In [2]:
%%sql mysql+pymysql://hello:world@10.0.1.100/employees
-- Here is a SQL comment.
-- TODO: RUN ME :-)
select count(1) from employees

1 rows affected.

[(300024,)]

2å›ç›®ä»¥é™ã¯1è¡Œç›®ã®æ¥ç¶šæƒ…å ±ã®è¨˜è¿°ã¯ä¸è¦ã§ã™

In [3]:
%%sql
-- TODO: RUN ME :-)
select
    *
from
    employees
limit 3

 * mysql+pymysql://hello:***@10.0.1.100/employees
3 rows affected.

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)),
 (10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21)),
 (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))]