# é›†è¨ˆ âš¡ï¸

ã“ã®ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ã§ã¯ã‚¯ã‚¨ãƒªã‚’ä½¿ã£ãŸãƒ‡ãƒ¼ã‚¿ã®é›†è¨ˆæ–¹æ³•ã«ã¤ã„ã¦ç¢ºèªã—ã¾ã™ã€‚

## 1. åˆæœŸè¨­å®š

Jupyter Notebook ã‚’å†èµ·å‹•ã—ãŸå ´åˆãªã©ã¯ã“ã“ã‹ã‚‰å®Ÿè¡Œã—ã¦ãã ã•ã„

In [ ]:
! pip install ipython-sql pymysql
%load_ext sql

## 2. æ¥ç¶šç¢ºèª

In [2]:
%%sql mysql+pymysql://hello:world@10.0.1.100/employees
select 'hello' as world

1 rows affected.

[('hello',)]

## 3. COUNT é–¢æ•°

COUNT é–¢æ•°ã‚’åˆ©ç”¨ã™ã‚‹ã“ã¨ã§ãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ã‚’æ•°ãˆã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚

```sql
COUNT(<å¼>)
```

In [27]:
%%sql
select count(1)

 * mysql+pymysql://hello:***@10.0.1.100/employees
1 rows affected.

[(1,)]

`NULL` ã¯é™¤å¤–ã•ã‚Œã¾ã™

In [28]:
%%sql
select count(null)

 * mysql+pymysql://hello:***@10.0.1.100/employees
1 rows affected.

[(0,)]

ä»¥ä¸‹ã¯ `employees` ãƒ†ãƒ¼ãƒ–ãƒ«ã®ãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ã‚’æ•°ãˆã‚‹ã‚¯ã‚¨ãƒªã§ã™

In [8]:
%%sql
select
    count(1)
from
    employees

 * mysql+pymysql://hello:***@10.0.1.100/employees
1 rows affected.

[(300024,)]

ã“ã“ã§ `CASE WHEN` æ§‹æ–‡ã‚’åˆ©ç”¨ã™ã‚‹ã¨æ¡ä»¶ã«ãƒãƒƒãƒã™ã‚‹ã¨ãã«ç‰¹å®šã®å€¤ã‚’è¿”ã™ã“ã¨ãŒã§ãã¾ã™

In [30]:
%%sql
select
    emp_no,
    case
        when emp_no = 10001 then 'hello'
    end as hello_case_when
from
    employees
limit 3

 * mysql+pymysql://hello:***@10.0.1.100/employees
3 rows affected.

[(10001, 'hello'), (10002, None), (10003, None)]

`CASE WHEN` ã¯ãƒãƒƒãƒã—ãªã„ã¨ãã¯ `NULL` ã‚’è¿”ã™ã®ã§ `COUNT` é–¢æ•°ã¨çµ„ã¿åˆã‚ã›ã‚‹ã“ã¨ã§ç‰¹å®šã®æ¡ä»¶ã‚’æº€ãŸã™ãƒ¬ã‚³ãƒ¼ãƒ‰ã®ã¿ã‚’æ•°ãˆã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚ä»¥ä¸‹ã¯ `employees` ãƒ†ãƒ¼ãƒ–ãƒ«ã‹ã‚‰ `hire_date` ãŒ `1985-11-21` ã§ã‚ã‚‹ãƒ¬ã‚³ãƒ¼ãƒ‰ã®ä»¶æ•°ã‚’æ•°ãˆã‚‹ã‚¯ã‚¨ãƒªã§ã™ã€‚

In [12]:
%%sql
select
    count(case when hire_date = '1985-11-21' then 1 end)
from
    employees

 * mysql+pymysql://hello:***@10.0.1.100/employees
1 rows affected.

[(119,)]

## 4. GROUP BY å¥

`GROUP BY` å¥ã‚’ä½¿ã†ã¨æŒ‡å®šã—ãŸã‚«ãƒ©ãƒ ã®å€¤ã§ã‚°ãƒ«ãƒ¼ãƒ—åˆ†ã‘ã—ãŸçµæœã«å¯¾ã—ã¦é›†è¨ˆã‚’è¡Œã†ã“ã¨ãŒã§ãã¾ã™ï¼ˆè¤‡æ•°ã®ã‚«ãƒ©ãƒ ã‚’æŒ‡å®šã§ãã¾ã™ï¼‰ã€‚ä»¥ä¸‹ã¯ `titles` ãƒ†ãƒ¼ãƒ–ãƒ«ã‹ã‚‰ `title` ã”ã¨ã«ãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ã‚’æ•°ãˆã¦å¤šã„é †ã«ä¸¦ã¹æ›¿ãˆã‚‹ã‚¯ã‚¨ãƒªã§ã™ã€‚

In [35]:
%%sql
select
    title,
    count(1) as cnt
from
    titles
group by
    title

order by
    cnt desc

 * mysql+pymysql://hello:***@10.0.1.100/employees
7 rows affected.

[('Engineer', 115003),
 ('Staff', 107391),
 ('Senior Engineer', 97750),
 ('Senior Staff', 92853),
 ('Technique Leader', 15159),
 ('Assistant Engineer', 15128),
 ('Manager', 24)]

## 5. HAVING å¥

HAVING å¥ã«æ¡ä»¶ã‚’è¨˜è¿°ã™ã‚‹ã“ã¨ã§é›†è¨ˆå¾Œã®çµæœã«å¯¾ã—ã¦æ¤œç´¢ã‚’ã™ã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚

In [40]:
%%sql
select
    title,
    count(1) as cnt
from
    titles
group by
    title

-- "where cnt < 20000" ã¯ã‚¨ãƒ©ãƒ¼
having
    cnt < 20000
    
order by
    cnt desc

 * mysql+pymysql://hello:***@10.0.1.100/employees
3 rows affected.

[('Technique Leader', 15159), ('Assistant Engineer', 15128), ('Manager', 24)]

## 6. ãã®ã»ã‹ã®é›†ç´„é–¢æ•°

`COUNT` é–¢æ•°ä»¥å¤–ã«ã‚‚åˆè¨ˆã‚’æ±‚ã‚ã‚‹ `SUM` é–¢æ•°ã‚„å¹³å‡å€¤ã‚’æ±‚ã‚ã‚‹ `AVG` é–¢æ•°ãªã©ã‚’ GROUP BY å¥ã¨ä½µç”¨ã™ã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚

ä»¥ä¸‹ã® URL ã«åˆ©ç”¨ã§ãã‚‹é–¢æ•°ã®ä¸€è¦§ãŒã‚ã‚Šã¾ã™ã€‚

https://dev.mysql.com/doc/refman/8.0/en/group-by-functions.html

## ğŸŒ± ç·´ç¿’å•é¡Œ

`employees` ãƒ†ãƒ¼ãƒ–ãƒ«ã«ã¤ã„ã¦ `gender` ãŒ `F` ã§æœ€ã‚‚ãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ãŒå¤šã„ `first_name` ã‚’èª¿ã¹ã¦ãã ã•ã„

In [ ]:
%%sql
select
    first_name,
    gender,
    -- Hint 1. ã“ã“ã§è¡Œæ•°ã‚’æ•°ãˆã‚‹é–¢æ•°ã‚’å‘¼ã¶
from
    employees
where
    -- Hint 2. gender ã‚’çµã‚Šã“ã‚€
group by
    -- Hint 3. first_name ã¨ gender ã§é›†ç´„
order by
    -- Hint 4. ãƒ¬ã‚³ãƒ¼ãƒ‰æ•°ãŒå¤šã„é †ã«ä¸¦ã¹æ›¿ãˆã‚‹
limit 10

In [ ]:
# å®Ÿè¡Œå¾Œã€"your answer" ã®å³å´ã«è¡¨ç¤ºã•ã‚Œã‚‹å…¥åŠ›ãƒœãƒƒã‚¯ã‚¹ã«ç­”ãˆã‚’å…¥åŠ›ã— Enter ã‚­ãƒ¼ã‚’æŠ¼ã—ã¦ãã ã•ã„ m(_ _)m
import urllib.request

answer = input('your answer (first_name): ')

url = 'http://10.0.1.100:18080/submit'
data = 'q=q301&a={}'.format(answer.strip()).encode('utf-8')
req = urllib.request.Request(url, data=data, method='POST')
with urllib.request.urlopen(req) as res:
    print(res.read().decode('utf-8'))